################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.ipch
*.tlog
*.obj
*.log
*.pdb
*.idb
*.exe
*.ilk
*.suo
